[user]
	email = albertopluecker@gmail.com
	name = Alberto Fontenelle Pluecker
[push]
	autoSetupRemote = true
[alias]
	fp = !sh -c 'git fetch && git pull origin $(git symbolic-ref refs/remotes/origin/HEAD | sed "s@^refs/remotes/origin/@@")'
	uncommit = reset --soft HEAD^
	unstage = restore --staged
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pull]
	rebase = true
[core]
	attributesfile = /Users/albertopluecker/.gitattributes
[rerere]
	enabled = true
; for issues with go mod tidy and private modules
; also comment out lines 10-13
; [url "https://github.com/"]
; 	insteadOf = git@github.com:
; [url "https://jus.tw.cx/"]
; 	insteadOf = git@jus.tw.cx:
