[user]
	email = albertopluecker@gmail.com
	name = Alberto Fontenelle Pluecker
[push]
	autoSetupRemote = true
[alias]
	fp = !sh -c 'git fetch && git pull origin $(git symbolic-ref refs/remotes/origin/HEAD | sed "s@^refs/remotes/origin/@@")'
	uncommit = reset --soft HEAD^
	unstage = reset HEAD --
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pull]
	rebase = true
