---
- name: Core
  become: "{{ ansible_facts['os_family'] != 'Darwin' }}"
  ansible.builtin.package:
    name: '{{ download_packages_base }}'
    state: present

- name: MacOS
  community.general.homebrew:
    name: '{{ download_packages_mac }}'
    state: present
  when: ansible_distribution == "MacOSX"

- name: MacOS - Casks
  community.general.homebrew_cask:
    name: '{{ download_packages_homebrew_cask }}'
    state: present
  when: ansible_distribution == "MacOSX"

- name: Linux
  ansible.builtin.package:
    name: '{{ download_packages_linux }}'
    state: present
  become: true
  when: ansible_distribution != "MacOSX"

- name: Install Cargo
  ansible.builtin.shell: |-
    set -o pipefail
    curl https://sh.rustup.rs -sSf | sh -s -- -y
  args:
    creates: '{{ ansible_env.HOME }}/.cargo/'

# - name: Update Rust and Cargo
#   ansible.builtin.command:
#     cmd: rustup update
#   become: false
#   register: rustup_update
#   environment:
#     HOME: '{{ ansible_env.HOME }}'
#   changed_when: >
#     'unchanged' not in rustup_update.stdout.lower()
