---
- name: Get path to zsh
  ansible.builtin.command: which zsh
  changed_when: false
  register: zsh_path

- name: Set default shell to zsh
  become: true
  ansible.builtin.user:
    name: "{{ ansible_env.USER }}"
    shell: "{{ zsh_path.stdout }}"

- name: zsh‑syntax‑highlighting
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
    dest: "{{ ansible_env.HOME }}/.zsh/plugins/zsh-syntax-highlighting"
    force: true
    accept_newhostkey: true
    depth: 1
    update: false

- name: zsh‑autosuggestions
  become: true
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-autosuggestions.git
    dest: "{{ ansible_env.HOME }}/.zsh/plugins/zsh-autosuggestions"
    force: true
    accept_newhostkey: true
    depth: 1
