---
- name: Create SSH Directory
  ansible.builtin.file:
    path: '{{ ansible_env.HOME }}/.ssh'
    state: directory
    mode: '0755'
- name: Copy SSH keys
  ansible.builtin.copy:
    src: "{{ ssh_key_base_path }}/{{ item }}"
    dest: "{{ ssh_key_base_dest }}/{{ item }}"
    mode: '0600'
  loop:
    - id_home_github
    - hetzner
  vars:
    ssh_key_base_path: '{{ playbook_dir }}/ssh_keys'
    ssh_key_base_dest: '{{ ansible_env.HOME }}/.ssh/'

- name: Write Ansible Vault password file
  ansible.builtin.lineinfile:
    create: true
    line: '{{ ansible_vault_pass }}'
    path: '{{ ANSIBLE_VAULT_PASSWORD_FILE }}'
    state: present
    mode: '0600'

- name: Inject environment variables
  ansible.builtin.lineinfile:
    create: true
    line: "export {{ item.name }}=\"{{ item.value }}\""
    path: "{{ item.path }}"
    state: present
    mode: '0755'
  loop:
    - { name: OPENAI_API_KEY, value: "{{ openai_api_key_justwatch }}", path: "{{ ansible_env.HOME }}/.zshenv" }
    - { name: GEMINI_API_KEY, value: "{{ gemini_api_key }}", path: "{{ ansible_env.HOME }}/.zshenv" }
    - { name: HCLOUD_TOKEN, value: "{{ hetzner_api_token }}", path: "{{ ansible_env.HOME }}/.zshenv" }
    - { name: ANTHROPIC_API_KEY, value: "{{ anthropic_api_key }}", path: "{{ ansible_env.HOME }}/.zshenv" }
    - { name: OPENAI_API_KEY_PERSONAL, value: "{{ openai_api_key_personal }}", path: "{{ ansible_env.HOME }}/.zshenv" }
    - { name: STK_PWD, value: "{{ stk_pwd }}", path: "{{ ansible_env.HOME }}/.zshenv" }
    - { name: GITHUB_TOKEN, value: "{{ GITHUB_TOKEN }}", path: "{{ ansible_env.HOME }}/.zshenv" }
    - { name: ANSIBLE_VAULT_PASSWORD_FILE, value: "{{ ANSIBLE_VAULT_PASSWORD_FILE }}", path: "{{ ansible_env.HOME }}/.zshenv" }
