- name: Ensure Dock auto-hide is enabled
  community.general.osx_defaults:
    domain: com.apple.dock
    key: autohide
    type: bool
    value: true
  notify: Restart Dock

- name: Ensure Dock magnification is disabled
  community.general.osx_defaults:
    domain: com.apple.dock
    key: magnification
    type: bool
    value: false
  notify: Restart Dock

- name: Set Dock icon size to minimum
  community.general.osx_defaults:
    domain: com.apple.dock
    key: tilesize
    type: float
    value: 16.0
  notify: Restart Dock

- name: Clear all apps from Dock
  community.general.osx_defaults:
    domain: com.apple.dock
    key: persistent-apps
    type: array
    value: []
  notify: Restart Dock

- name: Set Dock expose animation duration
  community.general.osx_defaults:
    domain: com.apple.dock
    key: expose-animation-duration
    type: float
    value: 0.1
  notify: Restart Dock
