---
- name: Install Homebrew
  args:
    creates: /opt/homebrew/bin/brew
  ansible.builtin.shell: |
    "/bin/bash -c \
    '$(curl -fsSL \
    https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)'"

- name: Configure yabai
  when: ansible_facts['distribution'] == "MacOSX"
  block:
    # TODO replace with lineinfile
    - name: Configure Yabai
      ansible.builtin.shell: >
        echo "$(whoami) ALL=(root) NOPASSWD:
        sha256:$(shasum -a 256 $(which yabai))
        $(which yabai) --load-sa" > /private/etc/sudoers.d/yabai
      become: true
      args:
        creates: /private/etc/sudoers.d/yabai

    # - name: Configure Yabai
    #   lineinfile:
    #     path: /private/etc/sudoers.d/yabai
    #     line: "$(whoami) ALL=(root) NOPASSWD: $(which yabai) --load-sa"
    #   become: true

    - name: Start Yabai
      ansible.builtin.command: yabai --start-service
      register: yabai_start_result
      changed_when: yabai_start_result.rc != 0

    - name: Start Skhd
      ansible.builtin.command: skhd --start-service
      register: skhd_start_result
      changed_when: skhd_start_result.rc != 0

- name: Set Dock autohide
  community.general.osx_defaults:
    domain: com.apple.dock
    key: autohide
    type: bool
    value: true
  notify: Restart Dock

- name: Set Dock tile size
  community.general.osx_defaults:
    domain: com.apple.dock
    key: tilesize
    type: int
    value: 36
  notify: Restart Dock

- name: Remap Caps Lock to Esc
  tags: [skip_ansible_lint]
  ansible.builtin.shell: >
    hidutil property --set
    '{"UserKeyMapping":[{"HIDKeyboardModifierMappingSrc":
    0x700000039,"HIDKeyboardModifierMappingDst":0x700000029}]}'

- name: Disable window animations globally
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSAutomaticWindowAnimationsEnabled
    type: bool
    value: false

- name: Set Dock expose animation duration
  community.general.osx_defaults:
    domain: com.apple.dock
    key: expose-animation-duration
    type: float
    value: 0.1
  notify: Restart Dock
