---
- name: Install Homebrew
  args:
    creates: /opt/homebrew/bin/brew
  ansible.builtin.shell: |
    "/bin/bash -c \
    '$(curl -fsSL \
    https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)'"
  when: ansible_distribution == "MacOSX"

- name: Remap Caps Lock to Esc
  tags: [skip_ansible_lint]
  ansible.builtin.shell: >
    hidutil property --set
    '{"UserKeyMapping":[{"HIDKeyboardModifierMappingSrc":
    0x700000039,"HIDKeyboardModifierMappingDst":0x700000029}]}'
  when: ansible_distribution == "MacOSX"


- name: Require fn key for media keys (brightness, volume, etc.)
  community.general.osx_defaults:
    domain: com.apple.keyboard
    key: "com.apple.keyboard.fnState"
    type: int
    value: 1
  when: ansible_distribution == "MacOSX"
  notify:
    - Apply macOS UI changes


- name: Disable window animations globally
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSAutomaticWindowAnimationsEnabled
    type: bool
    value: false
  when: ansible_distribution == "MacOSX"
  notify:
    - Apply macOS UI changes

- name: Set function keys as default
  community.general.osx_defaults:
    domain: com.apple.keyboard
    key: "com.apple.keyboard.fnState"
    type: int
    value: 1
  when: ansible_distribution == "MacOSX"
  notify:
    - Apply macOS UI changes

- name: Enable tap to click on internal trackpad
  community.general.osx_defaults:
    domain: com.apple.AppleMultitouchTrackpad
    key: "Clicking"
    type: int
    value: 1
  when: ansible_distribution == "MacOSX"
  notify:
    - Apply macOS UI changes
