---
name: Linting
on:
  pull_request:
    paths:
      - 'ansible/**'
  push:
    paths:
      - 'ansible/**'
    branches:
      - main
  workflow_dispatch:
jobs:
  linting:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
        
      - name: Install ansible, yamllint and ansible-lint
        run: |
          pip install ansible ansible-lint yamllint

      - name: Drop vault pass & expose it to all later steps
        shell: bash
        run: |
          printf '%s\n' "${{ secrets.ANSIBLE_VAULT_PASSWORD }}" > "$RUNNER_TEMP/vault.pass"
          chmod 600 "$RUNNER_TEMP/vault.pass"
          echo "ANSIBLE_VAULT_PASSWORD_FILE=$RUNNER_TEMP/vault.pass" >> "$GITHUB_ENV"

      - name: Run ansible-lint
        run: |
          ansible-lint ansible

      - name: Run yamllint
        run: yamllint ansible
